@import url("https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"); */
html {
  /* background-image: url("../img/background.webp");
  background-size: cover; */
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Cascadia";
  font-size: 15px;
  width: 100%;
  font-smoothing: antialiased;
}

.page {
  position: unset;
  /* width: 80%;
  height: 80%;
  left: 10%;
  top: 10%; */
  /* background-color: rgba(255, 3, 3, 0.7); */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.pageHeader {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #268193;
  color: whitesmoke;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 20px;
  vertical-align: middle;
}
.pageHeader .title {
  width: 40%;
  float: left;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: 700;
}
.pageHeader .userPanel {
  width: 40%;
  float: right;
}
.pageHeader .userPanel i {
  float: right;
  line-height: 40px;
  padding-right: 10px;
}
.pageHeader .userPanel .username {
  float: right;
  line-height: 40px;
  padding: 0px 20px;
  font-weight: 300;
  font-size: larger;
}
.pageHeader .userPanel img {
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.main {
  position: fixed;
  width: 100%;
  height: 100%;
  clear: both;
  background-color: #d5d5f2d9;
}
.main .nav {
  width: 190px;
  height: auto;
  float: left;
  background-color: rgba(227, 234, 235, 0.8);
  padding-bottom: 5px;
  margin: 14px 7px;
  border-radius: 13px;
}
.main .nav .searchbox {
  width: 175px;
  height: 30px;
  line-height: 30px;
  margin: 15px 7px;
  background-color: White;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 6px;
}
.main .nav .searchbox i {
  display: inline-block;
  color: #bbb;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}
.main .nav .searchbox input {
  display: inlin-block;
  width: 140px;
  background-color: White;
  color: Black;
  font-family: "Lato";
  border: 0px solid white;
}
.main .nav .menu {
  width: 97%;
  margin: 5px;
  /* color: #2a2121; */
  position: inherit;
}
.main .nav .menu .title {
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-left: 11px;
}
.main .nav .menu ul {
  padding-left: 0px;
}
.main .nav .menu ul li {
  marker: none;
  cursor: pointer;
  list-style: none;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
  font-weight: 600;
  margin-right: 5px;
  padding-left: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  transition: 0.25s all;
}
.main .nav .menu ul li.active a {
  color: #79BC46;
}
/* .main .nav .menu ul li:hover {
  background-color: #999;
} */
.main .nav .menu ul li i {
  font-size: 1.4em;
}
.main .view {
  position: relative;
  margin-left: 190px;
}
.main .view .viewHeader {
  width: 100%;
  height: 70px;
  /* line-height: 70px; */
  padding: 20px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #E0E0E0;
}
.main .view .viewHeader .title {
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  padding: 0px;
  color: #AAA;
  margin-top: 0px;
}
.main .view .functions {
  float: right;
}
.main .view .functions .button {
  font-size: 20px;
  float: right;
  height: 30px;
  line-height: 28px;
  background-color: #AAA;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 12px;
  margin: -26px 31px;
  padding: 5px 15px;
  cursor: pointer;
  color: White;
  font-weight: 700;
}
.main .view .functions .button.active {
  background-color: #7273b2;
}
.main .view .functions .button.inverz {
  background-color: inherit;
  /* border: 1px solid #AAA; */
  width: 10px;
  color: #AAA;
  font-size: 1.4em;
  padding-left: 10px;
  padding-right: 16px;
  padding-top: 3px;
}
.main .view .content {
  /* height: fit-content; */
  position: inherit;
  /* left: 0px; */
  /* top: 0px; */
  /* right: 0px; */
  /* bottom: 0px; */
  padding: 15px 13px;
}
.main .view .content .list .title {
  margin-bottom: -2px;
  margin-right: -13px;
  width: 20%;
  font-size: 26px;
  /* padding: 6px; */
  padding-left: 39px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #626b75;
}
.main .view .content .list ul {
  width: 100%;
  padding-left: 0px;
  color: #5f5959;
  margin-top: 20px;
  padding-bottom: 10px;
}
.main .view .content .list ul li {
  width: 100%;
  height: 55px;
  line-height: 50px;
  list-style: none;
  margin-top: 3px;
  /* border-top: 1px solid #AAA; */
}
.main .view .content .list ul li.checked {
  /* background-color: #F0F4F5; */
  /* float: left; */
}
.main .view .content .list ul li:last-child {
  /* border-bottom: 1px solid #AAA; */
}
.main .content .list .fa-check-square-o .fa-square-o ul li  {
  float: left;
  width: 20px;
  height: 50px;
  line-height: 50px;
  margin-left: 6px;
  font-size: 1.3em;
  margin-top: 3px;
  margin-right: 5px;
}
.main .content .list ul li span {
  float: left;
  font-weight: 600;
}
.main .content .list ul li .info {
  background-color: #fff7ec;
  float: right;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 90%;
  margin-right: 29px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 22%;
}
.main .content .list ul li .info span {
  font-weight: 500;
}
.main  .content .list ul li .info .button {
  float: right;
  width: 70px;
  height: 31px;
  line-height: 30px;
  background-color: #AAA;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
  color: White;
  font-weight: 500;
}
.main  .content .list ul li .info .button.green {
  background-color: #62d256;
}

.clear {
  clear: both;
}

.new-folder-input {
  position: relative;
  margin-left: 7px;
  /* margin: 42px 7px; */
  /* top: 44px; */
  width: 65%;
  font-family: "Cascadia";
  border-radius: 4px;
  padding: 5px;
  border: white;
  height: 22px;
  font-size: medium;
  font-weight: 300;
}

.new-folder-btn {
    float: right;
    font-family: Cascadia;
    font-size: medium;
    position: relative;
    /* margin: 1px 7px; */
    margin-right: 7px;
    height: 32px;
    /* margin-left: 93px; */
    /* margin-top: -28px; */
    padding: -17px;
    width: 21%;
    background-color: #54b9cd;
    color: white;
    border: 0px;
    border-radius: 4px;
}
.new-folder-btn:hover{
  cursor: pointer;
  background-color: #62d256;
}
.folder-a{
  text-decoration: none;
  marker: none;
  color: #0da2e0;
  margin-left: 5px;
  /* margin-right: -72px; */
  width: fit-content;
}
.folder-a:hover{
  text-decoration: underline;
}
.fa-folder{
  float: left;
}
.folder-delete .fa-trash-o{
  color: #d92121 !important;
  float: right;
}
.fa-trash-o:hover{
  font-weight: 600;
}
.task-title {
  overflow: hidden;
  /* hyphens: auto; */
  font-size: 15px;
  width: 26%;
  color: #330505ab;
  margin: 2px;
  height: 90%;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: inherit;
  background-color: #b2ffb2;
}
.task-body {
  overflow: hidden;
  background-color: ghostwhite;
  font-size: 16px;
  margin: 2px;
  color: #564e4eba;
  width: 44%;
  height: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.list {
  height: auto;
  /* border: 1px solid; */
  border-radius: 13px;
  background-color: thistle;
  margin: 0px;
}
.add-folder {
  margin-bottom: 3px;
}
i.fa.fa-check-square-o {
  float: left;
  width: 20px;
  height: 50px;
  line-height: 50px;
  margin-left: 6px;
  font-size: 1.3em;
  margin-top: 3px;
  margin-right: 5px;
}
i.fa.fa-square-o {
  float: left;
  width: 20px;
  height: 50px;
  line-height: 50px;
  margin-left: 6px;
  font-size: 1.3em;
  margin-top: 3px;
  margin-right: 5px;
}
.delete-task {
  /* border: 1px solid; */
  padding: 3px;
  float: right;
  margin: 0px -326px;
  font-size: 1.5em;
  color: red !important;
}
.delete-task .fa-trash-o{
  color: red !important;
}
span.no-task {
  color: #626b75;
  font-size: 21px;
  font-weight: 500;
  margin: 39px;
}